@charset "UTF-8";
.header {
  width: 96vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5em auto;
  text-decoration: none;
  justify-content: space-between;
}
.header__logo {
  min-width: 7rem;
  max-width: 7rem;
  flex: 1;
  text-decoration: none;
  color: black;
  position: relative;
  background-image: url("../img/Kvote.png");
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1/1;
  border-radius: 100%;
  order: 0;
}
.header__logo__circulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: conic-gradient(transparent 0deg, white 0deg);
  border-radius: 100%;
  font-family: "Aladin";
}
.header__logo__circulo__Titulo {
  margin: 0px;
  text-align: center;
  position: relative;
  top: 3px;
  opacity: 0;
}
.header__logo__circulo__Eslogan {
  margin: 0px auto;
  font-size: 0.7em;
  text-align: center;
  position: relative;
  top: -5px;
  width: 60%;
  opacity: 0;
  left: 1px;
  color: black;
}
.header__logo__circulo .animate--letras {
  animation-name: aparicionLetras;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-direction: normal;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}
.header__logo .animate--encoger {
  animation-name: revelar;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-direction: normal;
  animation-fill-mode: forwards;
}
.header .animate--girar {
  animation-name: girar;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-direction: reverse;
  animation-fill-mode: forwards;
}
.header__contenerdor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  background-color: #B8001F;
  height: 100%;
  min-height: 7rem;
}
.header__contenerdor__cita {
  color: #FCFAEE;
  text-align: center;
  font-size: 1.55rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Aladin", serif;
  border-radius: 0.313rem;
  opacity: 0;
}
.header .animate--contenedor {
  animation-name: aparicionLetras;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-direction: normal;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

@keyframes aparicionLetras {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes girar {
  from {
    transform: rotate(360deg);
    left: 0vw;
  }
  to {
    transform: rotate(720deg);
    left: 90vw;
  }
}
@keyframes revelar {
  0% {
    background: conic-gradient(transparent 0deg, white 0deg);
  }
  1% {
    background: conic-gradient(transparent 3.6deg, white 0deg);
  }
  2% {
    background: conic-gradient(transparent 7.2deg, white 0deg);
  }
  3% {
    background: conic-gradient(transparent 10.8deg, white 0deg);
  }
  4% {
    background: conic-gradient(transparent 14.4deg, white 0deg);
  }
  5% {
    background: conic-gradient(transparent 18deg, white 0deg);
  }
  6% {
    background: conic-gradient(transparent 21.6deg, white 0deg);
  }
  7% {
    background: conic-gradient(transparent 25.2deg, white 0deg);
  }
  8% {
    background: conic-gradient(transparent 28.8deg, white 0deg);
  }
  9% {
    background: conic-gradient(transparent 32.4deg, white 0deg);
  }
  10% {
    background: conic-gradient(transparent 36deg, white 0deg);
  }
  11% {
    background: conic-gradient(transparent 39.6deg, white 0deg);
  }
  12% {
    background: conic-gradient(transparent 43.2deg, white 0deg);
  }
  13% {
    background: conic-gradient(transparent 46.8deg, white 0deg);
  }
  14% {
    background: conic-gradient(transparent 50.4deg, white 0deg);
  }
  15% {
    background: conic-gradient(transparent 54deg, white 0deg);
  }
  16% {
    background: conic-gradient(transparent 57.6deg, white 0deg);
  }
  17% {
    background: conic-gradient(transparent 61.2deg, white 0deg);
  }
  18% {
    background: conic-gradient(transparent 64.8deg, white 0deg);
  }
  19% {
    background: conic-gradient(transparent 68.4deg, white 0deg);
  }
  20% {
    background: conic-gradient(transparent 72deg, white 0deg);
  }
  21% {
    background: conic-gradient(transparent 75.6deg, white 0deg);
  }
  22% {
    background: conic-gradient(transparent 79.2deg, white 0deg);
  }
  23% {
    background: conic-gradient(transparent 82.8deg, white 0deg);
  }
  24% {
    background: conic-gradient(transparent 86.4deg, white 0deg);
  }
  25% {
    background: conic-gradient(transparent 90deg, white 0deg);
  }
  26% {
    background: conic-gradient(transparent 90deg, white 0deg);
  }
  27% {
    background: conic-gradient(transparent 93.6deg, white 0deg);
  }
  28% {
    background: conic-gradient(transparent 97.2deg, white 0deg);
  }
  29% {
    background: conic-gradient(transparent 100.8deg, white 0deg);
  }
  30% {
    background: conic-gradient(transparent 104.4deg, white 0deg);
  }
  31% {
    background: conic-gradient(transparent 108deg, white 0deg);
  }
  32% {
    background: conic-gradient(transparent 111.6deg, white 0deg);
  }
  33% {
    background: conic-gradient(transparent 115.2deg, white 0deg);
  }
  34% {
    background: conic-gradient(transparent 118.8deg, white 0deg);
  }
  35% {
    background: conic-gradient(transparent 122.4deg, white 0deg);
  }
  36% {
    background: conic-gradient(transparent 126deg, white 0deg);
  }
  37% {
    background: conic-gradient(transparent 129.6deg, white 0deg);
  }
  38% {
    background: conic-gradient(transparent 133.2deg, white 0deg);
  }
  39% {
    background: conic-gradient(transparent 136.8deg, white 0deg);
  }
  40% {
    background: conic-gradient(transparent 140.4deg, white 0deg);
  }
  41% {
    background: conic-gradient(transparent 144deg, white 0deg);
  }
  42% {
    background: conic-gradient(transparent 147.6deg, white 0deg);
  }
  43% {
    background: conic-gradient(transparent 151.2deg, white 0deg);
  }
  44% {
    background: conic-gradient(transparent 154.8deg, white 0deg);
  }
  45% {
    background: conic-gradient(transparent 158.4deg, white 0deg);
  }
  46% {
    background: conic-gradient(transparent 162deg, white 0deg);
  }
  47% {
    background: conic-gradient(transparent 165.6deg, white 0deg);
  }
  48% {
    background: conic-gradient(transparent 169.2deg, white 0deg);
  }
  49% {
    background: conic-gradient(transparent 172.8deg, white 0deg);
  }
  50% {
    background: conic-gradient(transparent 180deg, white 0deg);
  }
  51% {
    background: conic-gradient(transparent 180deg, white 0deg);
  }
  52% {
    background: conic-gradient(transparent 183.6deg, white 0deg);
  }
  53% {
    background: conic-gradient(transparent 187.2deg, white 0deg);
  }
  54% {
    background: conic-gradient(transparent 190.8deg, white 0deg);
  }
  55% {
    background: conic-gradient(transparent 194.4deg, white 0deg);
  }
  56% {
    background: conic-gradient(transparent 198deg, white 0deg);
  }
  57% {
    background: conic-gradient(transparent 201.6deg, white 0deg);
  }
  58% {
    background: conic-gradient(transparent 205.2deg, white 0deg);
  }
  59% {
    background: conic-gradient(transparent 208.8deg, white 0deg);
  }
  60% {
    background: conic-gradient(transparent 212.4deg, white 0deg);
  }
  61% {
    background: conic-gradient(transparent 216deg, white 0deg);
  }
  62% {
    background: conic-gradient(transparent 219.6deg, white 0deg);
  }
  63% {
    background: conic-gradient(transparent 223.2deg, white 0deg);
  }
  64% {
    background: conic-gradient(transparent 226.8deg, white 0deg);
  }
  65% {
    background: conic-gradient(transparent 230.4deg, white 0deg);
  }
  66% {
    background: conic-gradient(transparent 234deg, white 0deg);
  }
  67% {
    background: conic-gradient(transparent 237.6deg, white 0deg);
  }
  68% {
    background: conic-gradient(transparent 241.2deg, white 0deg);
  }
  69% {
    background: conic-gradient(transparent 244.8deg, white 0deg);
  }
  70% {
    background: conic-gradient(transparent 248.4deg, white 0deg);
  }
  71% {
    background: conic-gradient(transparent 252deg, white 0deg);
  }
  72% {
    background: conic-gradient(transparent 255.6deg, white 0deg);
  }
  73% {
    background: conic-gradient(transparent 259.2deg, white 0deg);
  }
  74% {
    background: conic-gradient(transparent 262.8deg, white 0deg);
  }
  75% {
    background: conic-gradient(transparent 270deg, white 0deg);
  }
  76% {
    background: conic-gradient(transparent 270deg, white 0deg);
  }
  77% {
    background: conic-gradient(transparent 273.6deg, white 0deg);
  }
  78% {
    background: conic-gradient(transparent 277.2deg, white 0deg);
  }
  79% {
    background: conic-gradient(transparent 280.8deg, white 0deg);
  }
  80% {
    background: conic-gradient(transparent 284.4deg, white 0deg);
  }
  81% {
    background: conic-gradient(transparent 288deg, white 0deg);
  }
  82% {
    background: conic-gradient(transparent 291.6deg, white 0deg);
  }
  83% {
    background: conic-gradient(transparent 295.2deg, white 0deg);
  }
  84% {
    background: conic-gradient(transparent 298.8deg, white 0deg);
  }
  85% {
    background: conic-gradient(transparent 302.4deg, white 0deg);
  }
  86% {
    background: conic-gradient(transparent 306deg, white 0deg);
  }
  87% {
    background: conic-gradient(transparent 309.6deg, white 0deg);
  }
  88% {
    background: conic-gradient(transparent 313.2deg, white 0deg);
  }
  89% {
    background: conic-gradient(transparent 316.8deg, white 0deg);
  }
  90% {
    background: conic-gradient(transparent 320.4deg, white 0deg);
  }
  91% {
    background: conic-gradient(transparent 324deg, white 0deg);
  }
  92% {
    background: conic-gradient(transparent 327.6deg, white 0deg);
  }
  93% {
    background: conic-gradient(transparent 331.2deg, white 0deg);
  }
  94% {
    background: conic-gradient(transparent 334.8deg, white 0deg);
  }
  95% {
    background: conic-gradient(transparent 338.4deg, white 0deg);
  }
  96% {
    background: conic-gradient(transparent 342deg, white 0deg);
  }
  97% {
    background: conic-gradient(transparent 345.6deg, white 0deg);
  }
  98% {
    background: conic-gradient(transparent 349.2deg, white 0deg);
  }
  99% {
    background: conic-gradient(transparent 352.8deg, white 0deg);
  }
  100% {
    background: conic-gradient(transparent 360deg, white 0deg);
  }
}
.footer {
  background-color: rgb(40, 39, 39);
  color: #FCFAEE;
  width: 96vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 3rem 0rem 3rem;
  margin: 1.875rem auto;
  border-radius: 0.313rem;
}
.footer h2 {
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: #FCFAEE;
}
.footer > section {
  margin-bottom: 1rem;
}
.footer__nosotros {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__nosotros__contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__nosotros__contacto a {
  height: 100%;
  display: flex;
}
.footer__nosotros__contacto a::before {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  width: 1.3rem;
  height: 1.3rem;
}
.footer__nosotros__contacto a:hover {
  text-decoration: underline;
}
.footer__nosotros__contacto a.phone::before {
  background-image: url("../img/phoneIcon.png");
}
.footer__nosotros__contacto a.mail::before {
  background-image: url("../img/mailIcon.png");
}
.footer__ayuda {
  display: flex;
  flex-direction: column;
}
.footer__ayuda a:hover {
  text-decoration: underline;
}
.footer__redes__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer__redes__contenedor a {
  text-decoration: none;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 14px;
  /* background-color: hsla(209 20% 70% / 20%); */
  /* For dark theme */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: 0 0.5rem;
}
.footer__redes__contenedor a:before {
  background: var(--color);
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  left: -110%;
  top: 80%;
  transform: rotate(45deg);
  border-radius: 50%;
}
.footer__redes__contenedor a:hover:before {
  animation: slide 0.7s forwards;
}
.footer__redes__contenedor img {
  width: 100%;
  z-index: 1;
}
.footer__redes__contenedor a:has(.instagram) {
  --color: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}
.footer__redes__contenedor a:has(.bluesky) {
  --color: linear-gradient(45deg, rgba(84, 182, 255, 1) 0%, rgba(66, 165, 255, 1) 38%, rgba(36, 149, 253, 1) 69%, rgba(36, 149, 253, 1) 100%) ;
}
.footer__redes__contenedor a:has(.youtube) {
  --color: linear-gradient(84deg, rgba(213,29,19,1) 33%, rgba(250,34,22,1) 71%);
}
.footer__redes__contenedor a:has(.facebook) {
  --color: #0077b5;
}
.footer__redes__contenedor a:has(.tiktok) {
  --color: linear-gradient(77deg, rgba(252,12,83,1) 30%, rgba(3,240,234,1) 75%);
}

@keyframes slide {
  50% {
    left: 10%;
    top: -40%;
  }
  100% {
    left: -15%;
    top: -15%;
  }
}
.nav {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-family: "Kotta One", serif;
  position: relative;
}
.nav__button {
  background-color: #B8001F;
  list-style: none;
  background-color: #B8001F;
  color: #FCFAEE;
  text-align: center;
  padding: 0.3% 3%;
  font-weight: bold;
  text-decoration: none;
  flex-shrink: 1;
}
.nav__button:hover {
  background-color: hsl(350, 100%, 46%);
  cursor: pointer;
}
.nav__carro {
  width: 2rem;
  height: 2rem;
}
.nav__carro a {
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("../img/carro.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.nav__carro a:hover {
  transform: scale(1.1);
  background-image: url("../img/carroHover.png");
}
.nav__login {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.nav__login a {
  height: 100%;
  display: flex;
  align-items: center;
  background-image: url("../img/batlogin1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.nav__login a:hover {
  transform: scale(1.1);
  background-image: url("../img/batlogin2.png");
}
.nav .search {
  flex-shrink: 5;
  position: relative;
  display: flex;
  flex-direction: row;
}
.nav .search label {
  background-image: url("../img/lupa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 15%;
  cursor: pointer;
}
.nav .search input {
  background-color: white;
  border-radius: 0.438rem;
  width: 85%;
}
.nav .search input::-moz-placeholder {
  color: black;
}
.nav .search input::placeholder {
  color: black;
}
.nav .search input:focus {
  background-color: #FCFAEE;
}

@keyframes subirNivel {}
.main__sliderFrame {
  position: relative;
  grid-row: 1;
  grid-column: 1/3;
  width: 95vw;
  height: 60vh;
  margin: 0rem auto;
  overflow: hidden;
  border-radius: 6px;
}
.main__sliderFrame .next {
  background-image: url("../img/next.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  color: white;
  right: 0;
  z-index: 1;
  width: 4rem;
  height: 100%;
}
.main__sliderFrame .before {
  background-image: url("../img/before.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  color: white;
  left: 0;
  z-index: 1;
  width: 5rem;
  height: 100%;
}
.main__sliderFrame .next:hover,
.main__sliderFrame .before:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-size: contain;
  height: 100%;
}
.main__sliderFrame ul {
  margin: 0;
  display: flex;
  padding: 0;
  width: 600%;
  height: 100%;
}
.main__sliderFrame ul li {
  position: relative;
  width: 100%;
  list-style: none;
}
.main__sliderFrame ul li img {
  width: 100%;
  border-radius: 6px;
}
.main__sliderFrame ul li map {
  cursor: pointer;
}

.main {
  display: grid;
  font-family: "Kotta One", serif;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60vh 1fr;
  grid-row-gap: 1em;
  margin: 1em auto;
  width: 96vw;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.main__bestSellers {
  background-color: white;
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15% 85%;
  overflow: hidden;
  border: 3px solid #B8001F;
  box-shadow: 0.313rem 0.313rem 0.625rem -0.313rem rgb(0, 0, 0);
  border-radius: 0.4rem;
  grid-row-gap: 1rem;
}
.main__bestSellers__title {
  text-align: center;
  grid-row: 1;
  grid-column: 1/4;
  background-color: #B8001F;
  height: 100%;
  margin: auto 0;
  color: #FCFAEE;
}
.main__bestSellers__portadas {
  grid-row: 2;
  grid-column: 1/4;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
}
.main__bestSellers__portadas .tarjetaProducto {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__bestSellers__portadas .tarjetaProducto__portada {
  width: 90%;
  height: 75%;
  margin: 0;
  border-radius: 0.5rem;
}
.main__bestSellers__portadas .tarjetaProducto__portada img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
.main__bestSellers__portadas .tarjetaProducto__portada:hover {
  box-shadow: 0.313rem 0.313rem 0.625rem -0.313rem rgb(0, 0, 0);
  transform: scale(1.01);
}
.main__bestSellers__portadas .tarjetaProducto__titulo {
  text-align: center;
  margin: 0.5rem;
  font-size: 1.5rem;
}
.main__bestSellers__portadas .tarjetaProducto__titulo a {
  text-decoration: none;
  color: black;
}
.main__news {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  justify-items: center;
  grid-template-columns: 35% 45%;
  grid-template-rows: 15% 85%;
  height: 70vh;
  grid-row-gap: 1rem;
  border: 3px solid #B8001F;
  box-shadow: 0.313rem 0.313rem 0.625rem -0.313rem rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 0.4rem;
  background-color: white;
}
.main__news__title {
  text-align: center;
  grid-row: 1;
  grid-column: 1/4;
  margin: auto 0;
  overflow: hidden;
  background-color: #B8001F;
  height: 100%;
  width: 100%;
  color: #FCFAEE;
}
.main__news__img {
  grid-row: 2;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: self-start;
  height: 100%;
}
.main__news__img img {
  width: 90%;
  height: auto;
  border-radius: 0.5rem;
}
.main__news__text {
  grid-row: 2;
  grid-column: 2/4;
}
.main__news__text p {
  margin: 0 0.8rem;
  font-size: 0.9rem;
}
.main__news__text p span {
  color: blue;
  font-weight: 600;
}

.registro {
  width: 80%;
  margin: 2em auto;
}
.registro__contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid #B8001F;
  box-shadow: 0.313rem 0.313rem 0.625rem -0.313rem rgb(0, 0, 0);
  border-radius: 6px;
}
.registro__contenedor .progress-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 2rem auto;
}
.registro__contenedor .progress-container .progress-circle {
  transform: rotate(90deg);
  /* Rotate to make the progress start from top */
}
.registro__contenedor .progress-container .progress-circle .circle-background {
  opacity: 0.3;
}
.registro__contenedor .progress-container .progress-circle .circle-progress {
  transition: stroke-dashoffset 0.3s ease;
}
.registro__contenedor .progress-container .progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
}
.registro__title {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  padding: 0.8rem 0px;
  text-align: center;
  background-color: #B8001F;
  color: #FCFAEE;
}
.registro__img {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.registro__img img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 90%;
}
.registro__formulario {
  width: 65%;
  /* Color del borde, debe ser más claro que fondo */
  /* Fondo */
  color: black;
  /* Color del texto */
  /* Bordes redondos */
  /* Sombra del texto */
  text-align: center;
  /* Alineación del texto */
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.registro__formulario__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 5rem;
  min-height: 2rem;
  /*
  Mensajes de validación
  */
}
.registro__formulario__group .just-validate-success-field {
  border-color: #00b80a;
}
.registro__formulario__group .just-validate-error-field {
  border-color: #B8001F;
}
.registro__formulario__group .just-validate-error-label {
  width: 100%;
}
.registro__formulario__group .just-validate-success-label {
  width: 100%;
  color: green;
}
.registro__formulario__group input {
  height: 1rem;
  border-style: solid;
  color: black;
}
.registro__formulario__group input:focus {
  border-color: #0062D5;
  border-radius: 3px;
  outline: 1.5px solid #0062D5;
}
.registro__formulario__group #botonRegistrar {
  background-color: #B8001F;
  color: #FCFAEE;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  height: 2rem;
  cursor: pointer;
  transition: background-color 0.1s ease;
  margin: 0 auto;
}
.registro__formulario__group #botonRegistrar:hover {
  background-color: hsl(350, 100%, 46%);
  transform: scale(1.1);
}

.Container {
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.Container__spinner {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  background-image: url("../img/Kvote.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Container__spinner__img {
  background-image: url("../img/spinner.jpg");
  background-position: center;
  background-size: contain;
  width: 80%;
  height: 80%;
  border-radius: 100%;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
    /* left: 1vw; */
  }
  to {
    transform: rotate(720deg);
    /* left: 90vw; */
  }
}
.nosotros {
  width: 96vw;
  font-family: "Kotta One", serif;
  font-size: larger;
  margin: 0 auto;
  text-align: justify;
}
.nosotros .welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/hulkRed.png");
  background-size: cover;
  background-position: center;
  width: 96vw;
  height: 20rem;
  border-radius: 6px;
}
.nosotros .welcome > h1 {
  font-size: 10rem;
  color: white;
}
.nosotros .nosotros--desplazamientoRight {
  animation-name: desplazarRight;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.nosotros .nosotros--desplazamientoLeft {
  animation-name: desplazarLeft;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.nosotros__historia, .nosotros__mision, .nosotros__talleres, .nosotros__editorial {
  box-shadow: 4px 4px 13px -4px rgba(0, 0, 0, 0.75);
  background-color: white;
  background-size: cover;
  background-position: center;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: -1500px;
  border: 2px solid black;
  border-radius: 6px;
  width: 100%;
}
.nosotros__historia__text, .nosotros__mision__text, .nosotros__talleres__text, .nosotros__editorial__text {
  width: 55%;
  margin: 1rem;
}
.nosotros__historia__img, .nosotros__mision__img, .nosotros__talleres__img, .nosotros__editorial__img {
  width: 40%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  margin: 1rem;
}
.nosotros__historia__img img, .nosotros__mision__img img, .nosotros__talleres__img img, .nosotros__editorial__img img {
  width: 100%;
  height: 100%;
}
.nosotros__mision {
  flex-direction: row-reverse;
}
.nosotros__talleres {
  display: flex;
  flex-direction: column;
  position: relative;
}
.nosotros__talleres__text {
  width: 98%;
}
.nosotros__talleres__text ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.nosotros__talleres__text ul li {
  width: 23%;
  list-style: none;
  text-align: justify;
}
.nosotros__talleres__text ul li h5 {
  font-size: 1.3rem;
  text-align: center;
}
.nosotros__talleres__text .nosotros__talleres__img {
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.nosotros__talleres__colaboradores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.nosotros__talleres__colaboradores h2 {
  width: 100%;
  text-align: center;
}
.nosotros__talleres__colaboradores > div:nth-child(2) {
  background-image: url("../img/PacoRocaCasa.jpg");
  background-position: center;
  background-size: cover;
}
.nosotros__talleres__colaboradores > div:nth-child(3) {
  background-image: url("../img/MariaMedemComic.jpg");
  background-position: center;
  background-size: cover;
}
.nosotros__talleres__colaboradores > div:nth-child(4) {
  background-image: url("../img/AnaPenyasBien.jpg");
  background-position: center;
  background-size: cover;
}
.nosotros__talleres__colaboradores > div:nth-child(5) {
  background-image: url("../img/juanjoGarridoBack.jpg");
  background-position: center;
  background-size: cover;
}
.nosotros__talleres__colaboradores__img {
  width: 20%;
  position: relative;
  border-radius: 50%;
  aspect-ratio: 1/1;
  border: 2px solid black;
  overflow: hidden;
}
.nosotros__talleres__colaboradores__img h3 {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  z-index: 1;
  text-align: center;
  background: #696969;
}
.nosotros__talleres__colaboradores__img picture {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.nosotros__talleres__colaboradores__img picture img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  z-index: 2;
}
.nosotros__talleres__colaboradores__img picture:hover > img {
  animation-name: desvanecerImg;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.nosotros__talleres__colaboradores h4 {
  width: 20%;
  text-align: center;
}

@keyframes desplazarLeft {
  from {
    left: -1500px;
  }
  to {
    left: 0px;
  }
}
@keyframes desplazarRight {
  from {
    left: 1500px;
  }
  to {
    left: 0px;
  }
}
@keyframes desvanecerImg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/textura.png");
}/*# sourceMappingURL=main.css.map */