@charset "UTF-8";
.header {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: row;
  margin: auto;
  text-decoration: none;
  justify-content: space-between;
  background-color: #B8001F;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);
}
.header__logo {
  background-image: url("/img/Kvote.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  aspect-ratio: 1/1;
  margin: 0.5rem 1rem;
}
.header__logo:hover {
  transform: scale(1.1);
}
.header .nav {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  font-family: "Kotta One", serif;
  position: relative;
}
.header .nav__button {
  display: flex;
  align-items: center;
  background-color: #B8001F;
  list-style: none;
  color: #FCFAEE;
  text-align: center;
  padding: 0.3% 3%;
  font-weight: bold;
  text-decoration: none;
  flex-shrink: 1;
}
.header .nav__button:hover {
  background-color: hsl(350, 100%, 46%);
  cursor: pointer;
}
.header .nav__login {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex: 1;
}
.header .nav__login .carro {
  width: 2rem;
  height: 2rem;
  background-image: url("/img/carro.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.header .nav__login .carro:hover {
  transform: scale(1.1);
  background-image: url("/img/carroHover.png");
}
.header .nav__login .login {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-image: url("/img/batlogin1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.header .nav__login .login:hover {
  transform: scale(1.1);
  background-image: url("/img/batlogin2.png");
}
.header .nav__login .search {
  height: 100%;
  display: flex;
  align-items: center;
}
.header .nav__login .search label {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  background-image: url("/img/lupa.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header .nav__login .search input {
  background-color: white;
  border-radius: 0.438rem;
}
.header .nav__login .search input::-moz-placeholder {
  color: black;
}
.header .nav__login .search input::placeholder {
  color: black;
}
.header .nav__login .search input:focus {
  background-color: #FCFAEE;
}

.footer {
  background-color: rgb(40, 39, 39);
  color: #FCFAEE;
  width: 96vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 3rem 0rem 3rem;
  margin: 1.875rem auto;
  border-radius: 0.313rem;
}
.footer h2 {
  text-align: center;
  text-decoration: underline;
}
.footer a {
  text-decoration: none;
  color: #FCFAEE;
  font-family: "Montserrat", serif;
  font-size: 0.8rem;
  padding: 0.2rem 0;
}
.footer > section {
  margin-bottom: 1rem;
}
.footer__nosotros {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__nosotros__contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.footer__nosotros__contacto a {
  height: 100%;
  display: flex;
}
.footer__nosotros__contacto a::before {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
  width: 1.3rem;
  height: 1.3rem;
}
.footer__nosotros__contacto a:hover {
  text-decoration: underline;
}
.footer__nosotros__contacto a.phone::before {
  background-image: url("../img/phoneIcon.png");
}
.footer__nosotros__contacto a.mail::before {
  background-image: url("../img/mailIcon.png");
}
.footer__nosotros__contacto a.direcion::before {
  background-image: url("../img/direcionIcon.png");
}
.footer__ayuda {
  display: flex;
  flex-direction: column;
}
.footer__ayuda a:hover {
  text-decoration: underline;
}
.footer__redes__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer__redes__contenedor a {
  text-decoration: none;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 14px;
  /* background-color: hsla(209 20% 70% / 20%); */
  /* For dark theme */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin: 0 0.5rem;
}
.footer__redes__contenedor a:before {
  background: var(--color);
  content: "";
  position: absolute;
  width: 130%;
  height: 130%;
  left: -110%;
  top: 80%;
  transform: rotate(45deg);
  border-radius: 50%;
}
.footer__redes__contenedor a:hover:before {
  animation: slide 0.7s forwards;
}
.footer__redes__contenedor img {
  width: 100%;
  z-index: 1;
}
.footer__redes__contenedor a:has(.instagram) {
  --color: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
}
.footer__redes__contenedor a:has(.bluesky) {
  --color: linear-gradient(45deg, rgba(84, 182, 255, 1) 0%, rgba(66, 165, 255, 1) 38%, rgba(36, 149, 253, 1) 69%, rgba(36, 149, 253, 1) 100%) ;
}
.footer__redes__contenedor a:has(.youtube) {
  --color: linear-gradient(84deg, rgba(213, 29, 19, 1) 33%, rgba(250, 34, 22, 1) 71%);
}
.footer__redes__contenedor a:has(.facebook) {
  --color: #0077b5;
}
.footer__redes__contenedor a:has(.tiktok) {
  --color: linear-gradient(77deg, rgba(252, 12, 83, 1) 30%, rgba(3, 240, 234, 1) 75%);
}

@keyframes slide {
  50% {
    left: 10%;
    top: -40%;
  }
  100% {
    left: -15%;
    top: -15%;
  }
}
.main__sliderFrame {
  position: relative;
  grid-row: 1;
  grid-column: 1/3;
  width: 95vw;
  height: 60vh;
  margin: 0rem auto;
  overflow: hidden;
  border-radius: 6px;
}
.main__sliderFrame .next {
  background-image: url("../img/next.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  color: white;
  right: 0;
  z-index: 1;
  width: 4rem;
  height: 100%;
}
.main__sliderFrame .before {
  background-image: url("../img/before.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  color: white;
  left: 0;
  z-index: 1;
  width: 5rem;
  height: 100%;
}
.main__sliderFrame .next:hover,
.main__sliderFrame .before:hover {
  cursor: pointer;
  transform: scale(1.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-size: contain;
  height: 100%;
}
.main__sliderFrame ul {
  margin: 0;
  display: flex;
  padding: 0;
  width: 600%;
  height: 100%;
}
.main__sliderFrame ul li {
  position: relative;
  width: 100%;
  list-style: none;
}
.main__sliderFrame ul li img {
  width: 100%;
  border-radius: 6px;
}
.main__sliderFrame ul li map {
  cursor: pointer;
}

.main {
  display: grid;
  font-family: "Kotta One", serif;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 60vh 1fr;
  grid-row-gap: 1em;
  margin: 1em auto;
  width: 96vw;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
}
.main__bestSellers {
  background-color: white;
  grid-row: 2;
  grid-column: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 15% 85%;
  overflow: hidden;
  border: 3px solid #B8001F;
  box-shadow: 0.313rem 0.313rem 0.625rem -0.313rem rgb(0, 0, 0);
  border-radius: 0.4rem;
  grid-row-gap: 1rem;
}
.main__bestSellers__title {
  text-align: center;
  grid-row: 1;
  grid-column: 1/4;
  background-color: #B8001F;
  height: 100%;
  margin: auto 0;
  color: #FCFAEE;
}
.main__bestSellers__portadas {
  grid-row: 2;
  grid-column: 1/4;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  height: 100%;
}
.main__bestSellers__portadas .tarjetaProducto {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__bestSellers__portadas .tarjetaProducto__portada {
  width: 90%;
  height: 75%;
  margin: 0;
  border-radius: 0.5rem;
}
.main__bestSellers__portadas .tarjetaProducto__portada img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
.main__bestSellers__portadas .tarjetaProducto__portada:hover {
  box-shadow: 0.313rem 0.313rem 0.625rem -0.313rem rgb(0, 0, 0);
  transform: scale(1.01);
}
.main__bestSellers__portadas .tarjetaProducto__titulo {
  text-align: center;
  margin: 0.5rem;
  font-size: 1.5rem;
}
.main__bestSellers__portadas .tarjetaProducto__titulo a {
  text-decoration: none;
  color: black;
}
.main__news {
  grid-row: 2;
  grid-column: 2;
  display: grid;
  justify-items: center;
  grid-template-columns: 35% 45%;
  grid-template-rows: 15% 85%;
  height: 70vh;
  grid-row-gap: 1rem;
  border: 3px solid #B8001F;
  box-shadow: 0.313rem 0.313rem 0.625rem -0.313rem rgb(0, 0, 0);
  overflow: hidden;
  border-radius: 0.4rem;
  background-color: white;
}
.main__news__title {
  text-align: center;
  grid-row: 1;
  grid-column: 1/4;
  margin: auto 0;
  overflow: hidden;
  background-color: #B8001F;
  height: 100%;
  width: 100%;
  color: #FCFAEE;
}
.main__news__img {
  grid-row: 2;
  grid-column: 1/2;
  display: flex;
  justify-content: center;
  align-items: self-start;
  height: 100%;
}
.main__news__img img {
  width: 90%;
  height: auto;
  border-radius: 0.5rem;
}
.main__news__text {
  grid-row: 2;
  grid-column: 2/4;
}
.main__news__text p {
  margin: 0 0.8rem;
  font-size: 0.9rem;
}
.main__news__text p span {
  color: blue;
  font-weight: 600;
}

.registro {
  width: 80%;
  margin: 2em auto;
  font-family: "Montserrat", serif;
}
.registro__contenedor {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  background-color: white;
  border: 2px solid #B8001F;
  box-shadow: 0.313rem 0.313rem 0.625rem -0.313rem rgb(0, 0, 0);
  border-radius: 6px;
}
.registro__contenedor .progress-container {
  position: relative;
  width: 120px;
  height: 120px;
  margin: 2rem auto;
}
.registro__contenedor .progress-container .progress-circle {
  transform: rotate(90deg);
  /* Rotate to make the progress start from top */
}
.registro__contenedor .progress-container .progress-circle .circle-background {
  opacity: 0.3;
}
.registro__contenedor .progress-container .progress-circle .circle-progress {
  transition: stroke-dashoffset 0.3s ease;
}
.registro__contenedor .progress-container .progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  font-weight: bold;
}
.registro__title {
  width: 100%;
  height: 100%;
  margin-top: 0px;
  padding: 0.8rem 0px;
  text-align: center;
  background-color: #B8001F;
  font-family: "Kotta One", serif;
  color: #FCFAEE;
}
.registro__img {
  width: 35%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.registro__img img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 90%;
}
.registro__formulario {
  width: 65%;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.registro__formulario__group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem 5rem;
  min-height: 2rem;
  /*
  Mensajes de validación
  */
}
.registro__formulario__group .just-validate-success-field {
  border-color: #00b80a;
}
.registro__formulario__group .just-validate-error-field {
  border-color: #B8001F;
}
.registro__formulario__group .just-validate-error-label {
  width: 100%;
}
.registro__formulario__group .just-validate-success-label {
  width: 100%;
  color: green;
}
.registro__formulario__group input {
  height: 1rem;
  border-style: solid;
  color: black;
}
.registro__formulario__group input:focus {
  border-color: #0062D5;
  border-radius: 3px;
  outline: 1.5px solid #0062D5;
}
.registro__formulario__group #botonRegistrar {
  background-color: #B8001F;
  color: #FCFAEE;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  height: 2rem;
  font-family: "Kotta One", serif;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.1s ease;
  margin: 0 auto;
}
.registro__formulario__group #botonRegistrar:hover {
  background-color: hsl(350, 100%, 46%);
  transform: scale(1.1);
}

.Container {
  width: 100%;
  height: 100%;
  /* border: 2px solid black; */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
.Container__spinner {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  background-image: url("../img/Kvote.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Container__spinner__img {
  background-image: url("../img/spinner.jpg");
  background-position: center;
  background-size: contain;
  width: 80%;
  height: 80%;
  border-radius: 100%;
}

@keyframes spin {
  from {
    transform: rotate(360deg);
    /* left: 1vw; */
  }
  to {
    transform: rotate(720deg);
    /* left: 90vw; */
  }
}
.nosotros {
  width: 96vw;
  font-family: "Kotta One", serif;
  font-size: larger;
  margin: 1rem auto;
  text-align: justify;
  font-family: "Montserrat", serif;
}
.nosotros h1,
.nosotros h2 {
  font-family: "Kotta One", serif;
}
.nosotros p, .nosotros li {
  font-size: 1rem;
}
.nosotros .welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/hulkRed.png");
  background-size: cover;
  background-position: center;
  width: 96vw;
  height: 20rem;
  border-radius: 6px;
}
.nosotros .welcome > h1 {
  font-size: 10rem;
  color: white;
}
.nosotros .nosotros--desplazamientoRight {
  animation-name: desplazarRight;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.nosotros .nosotros--desplazamientoLeft {
  animation-name: desplazarLeft;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.nosotros__historia, .nosotros__mision, .nosotros__talleres, .nosotros__editorial {
  box-shadow: 4px 4px 13px -4px rgba(0, 0, 0, 0.75);
  background-color: white;
  background-size: cover;
  background-position: center;
  margin: 2rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  left: -1500px;
  border: 2px solid black;
  border-radius: 6px;
  width: 100%;
}
.nosotros__historia__text, .nosotros__mision__text, .nosotros__talleres__text, .nosotros__editorial__text {
  width: 55%;
  margin: 1rem 4rem;
}
.nosotros__historia__img, .nosotros__mision__img, .nosotros__talleres__img, .nosotros__editorial__img {
  width: 35%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  overflow: hidden;
  margin: 1rem 4rem;
}
.nosotros__historia__img img, .nosotros__mision__img img, .nosotros__talleres__img img, .nosotros__editorial__img img {
  width: 100%;
  height: 100%;
}
.nosotros__mision {
  flex-direction: row-reverse;
}
.nosotros__talleres {
  display: flex;
  flex-direction: column;
  position: relative;
}
.nosotros__talleres__text {
  width: 98%;
}
.nosotros__talleres__text ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.nosotros__talleres__text ul li {
  width: 23%;
  list-style: none;
  text-align: justify;
}
.nosotros__talleres__text ul li h5 {
  font-size: 1.3rem;
  text-align: center;
}
.nosotros__talleres__text .nosotros__talleres__img {
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.nosotros__talleres__colaboradores {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.nosotros__talleres__colaboradores h2 {
  width: 100%;
  text-align: center;
}
.nosotros__talleres__colaboradores > div:nth-child(2) > picture {
  background-image: url("../img/PacoRocaCasa.jpg");
  background-position: center;
  background-size: cover;
}
.nosotros__talleres__colaboradores > div:nth-child(3) > picture {
  background-image: url("../img/MariaMedemComic.jpg");
  background-position: center;
  background-size: cover;
}
.nosotros__talleres__colaboradores > div:nth-child(4) > picture {
  background-image: url("../img/AnaPenyasBien.jpg");
  background-position: center;
  background-size: cover;
}
.nosotros__talleres__colaboradores > div:nth-child(5) > picture {
  background-image: url("../img/juanjoGarridoBack.jpg");
  background-position: center;
  background-size: cover;
}
.nosotros__talleres__colaboradores__img {
  width: 25%;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.nosotros__talleres__colaboradores__img h3 {
  position: absolute;
  width: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  text-align: center;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  border-radius: 30px;
  z-index: 1;
  text-align: center;
  background: #696969;
}
.nosotros__talleres__colaboradores__img picture {
  border: 2px solid black;
  width: 80%;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 50%;
}
.nosotros__talleres__colaboradores__img picture img {
  width: 100%;
  aspect-ratio: 1/1;
  z-index: 2;
}
.nosotros__talleres__colaboradores__img picture:hover > img {
  width: 100%;
  aspect-ratio: 1/1;
  animation-name: desvanecerImg;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.nosotros__talleres__colaboradores h4 {
  width: 25%;
  text-align: center;
}

@keyframes desplazarLeft {
  from {
    left: -1500px;
  }
  to {
    left: 0px;
  }
}
@keyframes desplazarRight {
  from {
    left: 1500px;
  }
  to {
    left: 0px;
  }
}
@keyframes desvanecerImg {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/textura.png");
}

p {
  font-family: "Montserrat", serif;
}/*# sourceMappingURL=main.css.map */