@import './componentes/header';
@import './componentes/footer';
@import './componentes/carrusel';
@import './componentes/main.scss';
@import './componentes/registro';
@import './componentes/spinner';
@import './componentes/sobreNosotros';
@import './componentes/breadcrumb';

*{
    box-sizing: border-box;
}
body {
    background-image: url('../img/textura.png');
}
p{
    font-family: $fuente_secundaria;
}