@use './variables' as *;

.containerProductos {
    // border: 3px solid black;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    column-gap: 1rem;
    row-gap: 3rem;
    width: 96vw;
    font-family: $fuente_secundaria;

    &__producto {
        @include dimensiones(80%, auto, 16px, 3px solid $rojo_primario);

        @include flex(column, start, center);

        overflow: hidden;
        box-shadow: $box_shadow;
        background-color: white;

        &__img {
            margin-top: 1rem;
            width: 80%;

            img {
                aspect-ratio: 3/4;
                width: 100%;
            }
        }

        &__info {
            @include flex(column, flex-start, start);
            width: 90%;

            h2,
            h3 {
                font-size: 1rem;
                margin: 0.2rem 1.5rem;
                width: 90%;

            }

            p {
                min-height: 3rem;
            }

            &__precio {
                margin: 0.2rem auto;
                font-weight: bold;

                &::after {
                    content: "€"
                }
            }

            .verMas {
                background-color: #00b83d;
                color: white;
                font-weight: bold;
                margin: 0.5rem auto 2rem;
                @include dimensiones(auto,auto, 6px,2px solid gray);
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }

            hr {
                width: 90%;
                margin: 0.3rem;
            }

            &__autor {
                font-size: 1rem;
                font-weight: 400;
                color: gray;
                margin: 0.5rem 1.8rem;
            }

            &__adicional {
                display: none;

                &__Formato {
                    &::before {
                        content: "Formato:";
                        font-weight: 600;
                    }
                }

                &__Tipo {
                    &::before {
                        content: "Tipo: ";
                        font-weight: 600;
                    }

                }

                &__Paginas {
                    &::before {
                        content: "Nº paginas: ";
                        font-weight: 600;
                    }

                }

                &__ISBN {
                    &::before {
                        content: "ISBN: ";
                        font-weight: 600;
                    }

                }
            }
        }
    }

    .containerProductos__producto--dark {
        border: 3px solid $fondoOscuro !important;
    }
}

@media screen and (max-width: 992px) {
    .containerProductos {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 792px) {
    .containerProductos {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 540px) {
    .containerProductos {
        grid-template-columns: 1fr;
    }

}