@import './variables';

.footer {
    background-color: $fondo_footer;
    color: $blanco_letra;
    width: 96vw;
    // height: 40vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 3rem 0rem 3rem;

    // margin-top: 1.875rem;
    margin: 1.875rem auto;
    // padding-bottom: 1.875rem;
    // border: ;
    border-radius: 0.313rem;


    h2 {
        text-align: center;
        text-decoration: underline;
    }

    a {
        text-decoration: none;
        color: $blanco_letra;
        font-family: $fuente_secundaria;
        font-size: 0.8rem;
        padding: 0.2rem 0;
    }

    &>section {
        margin-bottom: 1rem;
    }

    &__nosotros {
        width: 50%;
        // height: 3.75rem;
        width: 65%;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;

        &__contacto {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            height: 100%;

            a {
                height: 100%;
                display: flex;

                &::before {
                    display: block;
                    // background-image: url(var(--imagen)) ;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    content: "";
                    width: 1.3rem;
                    height: 1.3rem;
                }

                &:hover {
                    text-decoration: underline;
                }
            }

            a.phone::before {
                background-image: url("../img/phoneIcon.png");

            }

            a.mail::before {
                background-image: url("../img/mailIcon.png");
            }

            a.direcion::before {
                background-image: url("../img/direcionIcon.png");

            }
        }
    }

    &__ayuda {
        width: 20%;
        display: flex;
        flex-direction: column;

        a {
            padding: 0.5rem 0;
            &:hover {
                text-decoration: underline;
            }
        }

    }

    &__redes {
        width: 30%;
        &__contenedor {
            display: flex;
            flex-direction: row;
            // width: 100%;
            justify-content: space-around;

            a {
                text-decoration: none;
                width: 2.3rem;
                height: 2.3rem;
                border-radius: 14px;
                /* background-color: hsla(209 20% 70% / 20%); */
                /* For dark theme */
                // background-color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                overflow: hidden;
                position: relative;
                // box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
                //     rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                margin: 0 0.5rem;
            }

            a:before {
                background: var(--color);
                content: "";
                position: absolute;
                width: 130%;
                height: 130%;
                left: -110%;
                top: 80%;
                transform: rotate(45deg);
                border-radius: 50%;
            }

            a:hover:before {
                animation: slide 0.7s forwards;
            }

            img {
                width: 100%;
                z-index: 1;

            }


            a:has(.instagram) {
                --color: linear-gradient(45deg, #f9ce34, #ee2a7b, #6228d7);
            }

            a:has(.bluesky) {
                --color: linear-gradient(45deg, rgba(84, 182, 255, 1) 0%, rgba(66, 165, 255, 1) 38%, rgba(36, 149, 253, 1) 69%, rgba(36, 149, 253, 1) 100%)
            }

            a:has(.youtube) {
                --color: linear-gradient(84deg, rgba(213, 29, 19, 1) 33%, rgba(250, 34, 22, 1) 71%);
            }

            a:has(.facebook) {
                --color: #0077b5;
            }

            a:has(.tiktok) {
                --color: linear-gradient(77deg, rgba(252, 12, 83, 1) 30%, rgba(3, 240, 234, 1) 75%);
            }

        }

    }

}

@keyframes slide {
    50% {
        left: 10%;
        top: -40%;
    }

    100% {
        left: -15%;
        top: -15%;
    }
}