@import './variables';

.main {
    display: grid;
    font-family: $fuente_general;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 60vh 1fr;
    grid-row-gap: 1em;
    margin: 1em auto;
    width: 96vw;
    column-gap: 0.5rem;
    // height: ;
    &__bestSellers {
        background-color: white;
        height: 100%;
        grid-row: 2;
        grid-column: 1;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        overflow: hidden;
        // background-color: gainsboro;
        border: $border_main;
        box-shadow: $box_shadow;

        border-radius: 0.4rem;
        // height: 80vh;

        &__title {
            text-align: center;
            background-color: $rojo_primario;
            // height: 100%;
            width: 100%;
            height: 4.1rem;
            margin: 0;
            // padding: 1em;
            color: $blanco_letra;
        }

        &__portadas {
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-wrap: wrap;
            // height: 100%;

            .tarjetaProducto {
                // background-color: aqua;
                width: 30%;
                min-width: 150px;
                height: auto;
                aspect-ratio: 3/6;
                // height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                &__portada {
                    width: 90%;
                    height: 75%;
                    margin: 0;
                    border-radius: 0.5rem;
                    img {
                        border-radius: 0.5rem;
                        width: 100%;
                        height: 100%;
                    }
                    &:hover{
                        box-shadow: $box_shadow;
                        transform: scale(1.01);
                    }
                }

                &__titulo {
                    text-align: center;
                    margin: 0.5rem;
                    font-size: 1.2rem;

                    a {
                        text-decoration: none;
                        color: black;
                    }
                }

            }
        }
    }

    &__news {
        grid-row: 2;
        grid-column: 2;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        // background-color: gainsboro;
        border: $border_main;
        box-shadow: $box_shadow;
        overflow: hidden;
        border-radius: 0.4rem;
        background-color: white;
        height: 100%;

        &__title {
            text-align: center;
            background-color: $rojo_primario;
            // height: 100%;
            width: 100%;
            height: 4.1rem;
            margin: 0;
            // padding: 1em;
            color: $blanco_letra;
            
        }

        &__img {
            margin: auto 1rem;
            // display: flex;
            // justify-content: center;
            // align-items: center;
            // height: 100%;
            width: 40%;

            img {
                width: 90%;
                height: auto;
                border-radius: 0.5rem;

            }
        }

        &__text {
            flex: 1;
            display: flex;
            align-items: center;

            p {
                margin: 0 0.8rem;
                font-size: 0.9rem;

                span {
                    color: blue;
                    font-weight: 600;
                }
            }

        }
    }
}