@import './variables';

.nav {
    // margin: 1em auto;
    flex-grow: 1;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    // width: 90%;
    font-family: $fuente_general;
    position: relative;
    // height: 2.5rem;
    // order: 2;
    // padding: 1rem;

    &__button {
        background-color: $rojo_primario;
        list-style: none;
        background-color: $rojo_primario;
        color: $blanco_letra;
        text-align: center;
        padding: 0.3% 3%;
        // border-radius: 0.313rem;
        font-weight: bold;
        // box-shadow: 0.313rem 0.313rem 0.625rem -0.313rem $shadow_nav;
        text-decoration: none;
        flex-shrink: 1;

        &:hover {
            background-color: $boton_hover;
            cursor: pointer;
            // transform: scale(1.1);
        }
    }

    &__carro {

        width: 2rem;
        height: 2rem;
        // border-radius: 50%;
        a {
            height: 100%;
            display: flex;
            align-items: center;
            &:hover {
                transform: scale(1.1);
                background-image: url(('../img/carroHover.png'));
            }

            background-image: url(('../img/carro.png'));
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    &__login {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;

        a {
            height: 100%;
            display: flex;
            align-items: center;
            // border-radius: 50px;

            &:hover {
                transform: scale(1.1);
                background-image: url(('../img/batlogin2.png'));
            }

            background-image: url(('../img/batlogin1.png'));
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            // img {
            //     border-radius: 6px;
            //     width: 100%;
            //     height: auto;
            //     aspect-ratio: 1/1;


            // }

        }

    }

    .search {
        // margin: auto 0;
        flex-shrink: 5;
        // width: 10%;
        position: relative;
        display: flex;
        flex-direction: row;

        label {
            background-image: url("../img/lupa.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 15%;
            cursor: pointer;
        }

        input {
            background-color: white;
            border-radius: 0.438rem;
            width: 85%;

            &::placeholder {
                color: black;
            }

            &:focus {
                background-color: $blanco_letra;
            }
        }
    }
}

@keyframes subirNivel {
    
}