@use './variables' as *;

.ContainerProducto {
    margin: 1rem auto;
    width: 96vw;
    background-color: white;
    border: 2px solid $rojo_primario;
    box-shadow: $box_shadow;
    border-radius: 16px;
    overflow: hidden;
    visibility: hidden;

    .Producto {
        margin: 1rem auto;
        width: 90%;
        display: flex;
        gap: 2rem;

        &__img {
            @include dimensiones(25rem, auto, 6px);
            min-width: 10rem;
            min-height: auto;
            overflow: hidden;

            img {
                @include dimensiones(100%, 100%);
            }
        }

        &__info {
            padding: 0 1rem;
            width: 100%;
            flex-grow: 1;

            &__titulo {
                font-size: 2rem;
                margin: 0;
            }

            &__autor {
                font-size: 1rem;
                margin: 0.5rem 0;
                font-style: italic;
            }

            &__sinopsis {
                @include flex(column, start, start);
                min-height: 11rem;

                &::before {
                    content: "Sinopsis: ";
                    font-weight: 700;
                }
            }

            &__caracteristicas {
                margin: 0;

                ul {
                    border: 2px solid black;
                    list-style: none;
                    padding: 0;
                    @include flex(row, space-around, center);

                    li {
                        @include flex(column, space-around, center);
                        text-align: center;
                        margin: 0.2rem 1rem;
                    }
                }

                &__publicacion {


                    &::before {
                        content: "Publicación ";
                        font-weight: 700;
                        text-align: center;

                    }

                    &::after {
                        content: "";
                        display: block;
                        @include dimensiones(2rem, 2rem);
                        @include cargarImagen('/img/fechaIcon.svg');
                        margin: 0 auto;

                    }
                }

                &__paginas {
                    &::before {
                        content: "Páginas ";
                        font-weight: 700;
                        text-align: center;

                    }

                    &::after {
                        content: "";
                        display: block;
                        @include dimensiones(2rem, 2rem);
                        @include cargarImagen('/img/paginasIcon.svg');
                        margin: 0 auto;

                    }
                }

                &__tipo {
                    &::before {
                        content: "Categoría ";
                        font-weight: 700;
                        text-align: center;

                    }

                    &::after {
                        content: "";
                        display: block;
                        @include dimensiones(2rem, 2rem);
                        @include cargarImagen('/img/bookIcon.svg');
                        margin: 0 auto;

                    }
                }

                &__subtipo {
                    &::before {
                        content: "Género";
                        font-weight: 700;
                        text-align: center;

                    }

                    &::after {
                        content: "";
                        display: block;
                        @include dimensiones(2rem, 2rem);
                        @include cargarImagen('/img/generoIcon.svg');
                        margin: 0 auto;

                    }
                }

                &__formato {
                    &::before {
                        content: "Formato ";
                        font-weight: 700;
                        text-align: center;

                    }

                    &::after {
                        content: "";
                        display: block;
                        @include dimensiones(2rem, 2rem);
                        @include cargarImagen('/img/formatoIcon.svg');
                        margin: 0 auto;

                    }
                }

                &__editorial {
                    &::before {

                        content: "Editorial";
                        font-weight: 700;
                        text-align: center;
                    }

                    &::after {
                        content: "";
                        display: block;
                        @include dimensiones(2rem, 2rem);
                        @include cargarImagen('/img/editorialIcon.svg');
                        margin: 0 auto;
                    }
                }
            }

            &__precioComprar {
                @include flex(row, space-evenly, center);

                &__precio {
                    @include flex(row, center, center, wrap);

                    &>span {
                        margin: 0 0.2rem;
                    }

                    &__actual {
                        // width: 50%;
                        font-size: 1.8rem;
                        font-weight: 600;
                        color: rgb(0, 0, 0);

                        &::after {
                            content: "€";
                            color: rgb(0, 0, 0);
                        }
                    }

                    &__anterior {
                        font-size: 0.8rem;
                        color: rgb(148, 144, 144);
                        text-decoration: line-through;
                        width: 100%;
                        text-align: center;

                        &::after {
                            content: "PVP";
                        }

                        &::before {
                            content: "Precio recomendado: ";
                        }
                    }

                    &__descuento {
                        color: red;
                        font-size: 1rem;
                    }
                }

                &__boton {
                    @include button-style(#00b83d, white, 8rem, 2rem, 6px);
                    margin: auto;
                }
            }
        }
    }
}

@media screen and (max-width: 1080px) {
    .ContainerProducto {

        .Producto {
            align-items: center;
            &__img {
                width: 15rem;
                height: 15rem;
                aspect-ratio: 1/1;
            }

            &__info {
                

                &__caracteristicas {
                    width: 100%;

                    // background-color: red;
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1rem;

                    }
                }

            }
        }
    }
}

@media screen and (max-width: 670px) {
    .ContainerProducto {
        .Producto {
            @include flex(column, center, center);

            &__img {
                width: 10rem;
                height: auto;
            }

            &__info__precioComprar {
                flex-direction: column;
                gap: 1rem;
            }
        }

    }
}