@use './variables' as *;

.ContainerGlobal {
    background-image: url('/img/colage.jfif')
}

.registro {


    width: 80%;
    margin: 2em auto;
    font-family: $fuente_secundaria;
    position: relative;

    &__contenedor {

        margin: 0 auto;

        @include flex(row, center, center, wrap);

        background-color: white;
        box-shadow: $box_shadow;

        @include dimensiones(60%, auto, 16px, 2px solid $rojo_primario);

        .progress-container {
            position: relative;

            @include dimensiones(7.5rem, 7.5rem);
            margin: 2rem auto;

            .progress-circle {
                transform: rotate(90deg);

                /* Rotate to make the progress start from top */
                .circle-background {
                    opacity: 0.3;
                }

                .circle-progress {
                    transition: stroke-dashoffset 0.3s ease;
                }
            }


            .progress-text {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 16px;
                font-weight: bold;
            }
        }

    }

    .contenerdor--dark {
        border: $border_main--dark;
    }

    &__title {

        @include dimensiones(100%, 100%, 10px 10px 0 0);
        margin-top: 0px;
        padding: 0.8rem 0px;
        text-align: center;
        background-color: $rojo_primario;
        font-family: $fuente_general;
        color: $blanco_letra;
    }

    .title--dark {
        background-color: $fondoOscuro;
    }

    &__img {
        @include dimensiones(35%, 100%);
        @include flex(column, center, center);
        // display: flex;
        // justify-content: center;

        img {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            width: 90%;
        }
    }

    &__formulario {
        width: 100%;
        color: black;
        text-align: center;

        @include flex(column, start, stretch);

        &__group {
            @include flex(column, space-between, start, wrap);

            margin: 1rem 5rem;
            min-height: 4rem;


            .just-validate-success-field {
                border-color: $verde_validacion;
            }

            .just-validate-error-field {
                border-color: $rojo_primario;
            }

            /*
            Mensajes de validación
            */
            .just-validate-error-label {
                width: 100%;
            }

            .just-validate-success-label {
                width: 100%;
                color: green;
            }

            input,
            select {
                width: 100%;
                border-radius: 16px;
                border-style: solid;
                color: black;
                padding: 0.6rem 1rem;
            }

            input:focus {
                border-color: $azulFocus;
                border-radius: 6px;
                outline: 1.5px solid $azulFocus;
            }

            #botonRegistrar {

                @include dimensiones(auto, 2rem, 16px, none);

                background-color: $rojo_primario;
                color: $blanco_letra;
                padding: 0.5rem 1rem;
                font-family: $fuente_general;
                font-weight: bold;
                cursor: pointer;
                transition: background-color 0.1s ease;
                margin: 0 auto;

                &:hover {
                    background-color: $boton_hover;
                    transform: scale(1.1);
                }
            }

            .botonRegistrar--dark {
                background-color: $fondoOscuro !important;
            }
        }
    }


    .confirmacion {
        position: absolute;
        top: 20%;
        border-radius: 16px;
        background-color: white;
        border: 2px solid $rojo_primario;
        box-shadow: $box_shadow;

        &__contenedor {
            @include flex(row, space-evenly, center, wrap);

            h2 {
                @include dimensiones(100%, 100%, 10px 10px 0 0);

                margin-top: 0px;
                padding: 0.8rem 0px;
                text-align: center;
                background-color: $rojo_primario;
                font-family: $fuente_general;
                color: $blanco_letra;
            }

            ul {
                width: 100%;
                @include flex(column, center, center);

                li {
                    margin-left: 1rem;
                    margin: 1rem;
                }
            }

        }


    }

}


@media screen and (max-width: 992px) {
    .registro {
        &__contenedor {
            width: 80%;
        }
    }

    .registro__formulario__group {
        margin: 1rem 3rem;
    }
}

@media screen and (max-width: 576px) {
    .registro {
        &__contenedor {
            width: 100%;
        }
    }

    .registro__formulario__group {
        margin: 1rem 1rem;
    }

    #botonRegistrar {
        padding: 0;
    }
}