$blanco_letra: #FCFAEE;
$rojo_primario: #B8001F;
$boton_hover:hsl(350, 100%, 46%);
$nav_hover:hsl(350, 100%, 50%);
$button_hover: #B81E88;
$verde_validacion:#00b80a;
$azulFocus: #0062D5;
$fuente_general: "Kotta One", serif;
$fuente_secundaria: "Montserrat", serif;
$fuente_logo: "Aladin", serif;
$fondo_footer: rgb(40, 39, 39);
$shadow_nav:rgb(0, 0, 0);

$border_main: 3px solid $rojo_primario;

$box_shadow:0.313rem 0.313rem 0.625rem -0.313rem rgb(0, 0, 0);