$blanco_letra: #FCFAEE;
$rojo_primario: #B8001F;
$boton_hover: hsl(350, 100%, 46%);
$nav_hover: hsl(350, 100%, 50%);
$button_hover: #B81E88;
$verde_validacion: #00b80a;
$azulFocus: #0062D5;
$fuente_general: "Kotta One", serif;
$fuente_secundaria: "Montserrat", serif;
$fuente_logo: "Aladin", serif;
$fondo_footer: rgb(40, 39, 39);
$shadow_nav: rgb(0, 0, 0);

$border_main: 3px solid $rojo_primario;
$border_main--dark: 3px solid #005c94;

$box_shadow: 0.313rem 0.313rem 0.625rem -0.313rem rgb(0, 0, 0);

$fondoOscuro: #005c94;
$fondoOscuroElementos: #2babc8;


@mixin cargarImagen($url, $size: cover){
    background-image: url($url);
    background-position: center;
    background-size: $size;
    background-repeat: no-repeat;
}


@mixin flex($direction, $justify, $align, $wrap: nowrap) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $wrap;
}

@mixin dimensiones($width, $height, $borderRadius: 0px, $border: none) {
    width: $width;
    height: $height;
    border-radius: $borderRadius;
    border: $border;
}

@mixin animacion($name, $timing-function, $duracion, $fill-mode){
    animation-name: $name;
    animation-timing-function: $timing-function;
    animation-duration: $duracion;
    animation-fill-mode: $fill-mode;

}